{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Please peruse our meme wares</h2>
    {{if .Memes}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Memes}}
        <tr>
            <td><a href='/meme/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    <table>
        <tr>
            <th>CurrentPage</th>
            <th>PageSize</th>
            <th>FirstPage</th>
            <th>LastPage</th>
            <th>TotalRecords</th>
        </tr>
        {{with .Metadata}}
        <tr>
            <td>{{.CurrentPage}}</td>
            <td>{{.PageSize}}</td>
            <td>{{.FirstPage}}</td>
            <td>{{.LastPage}}</td>
            <td>{{.TotalRecords}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}